@import "../../global.scss";
.page__background {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  &__title {
    background-color: #faeade;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 40px;
    border-radius: 30px;
    border: 4px solid #420b0b;
    margin-bottom: 50px;
    width: 620px;
    text-align: center;
    font-family: $font-literata;

    &--title {
      @include media-mobile {
        font-size: 20px;
      }
    }

    @include media-small-tablet {
      width: 500px;
    }

    @include media-mobile {
      width: 275px;
    }
  }

  &__block {
    display: flex;
    max-width: 1250px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
}
