@import "../../global.scss";

.element-speaker {
  width: 200px;
  height: 300px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;

  &__text1 {
    text-align: center;
    padding-bottom: 10px;
    font-family: $font-literata;
    font-size: 16px;
    font-weight: 600;
  }

  &__img {
    width: 100%;
  }

  &__text2 {
    padding-top: 15px;
    text-align: center;
    font-family: $font-literata;
    font-size: 16px;
    font-weight: 600;
  }
}
