@import "../../global.scss";

.element-speaker {
  width: 200px;
  height: 300px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;

  &__text1 {
    text-align: center;
    padding-bottom: 10px;
    font-family: $font-literata;
    font-size: 16px;
    font-weight: 600;
  }

  &__img {
    width: 100%;
  }

  &__text2 {
    padding-top: 15px;
    text-align: center;
    font-family: $font-literata;
    font-size: 16px;
    font-weight: 600;
  }
  audio {
    display: none;
  }

  &--active {
    width: 200px;
    height: 300px;
    background-color: #fff;
    padding: 7px;
    border-radius: 10px;
    border: 3px solid hsla(3, 87%, 60%, 0.85);
    cursor: pointer;

    &__text1 {
      text-align: center;
      padding-bottom: 10px;
      font-family: $font-literata;
      font-size: 16px;
      font-weight: 600;
    }

    &__img {
      width: 100%;
    }

    &__text2 {
      padding-top: 15px;
      text-align: center;
      font-family: $font-literata;
      font-size: 16px;
      font-weight: 600;
    }
    audio {
      display: none;
    }
  }
}
