.element-table {
  width: 300px;
  height: 360px;
  background-color: #ffffff;
  padding: 10px;
  border: 2px solid #0e20ac;

  &__img {
    width: 100%;
    padding: 10px;
  }
  &__text {
    text-align: center;
    padding-top: 10px;
  }
}
