@import "../../global.scss";

.demo-form {
  display: flex;
  top: 50px;
  left: 20px;
  position: absolute;
  flex-direction: column;
  gap: 5px;

  &__btn {
    border-radius: 15px;
    background-color: #faeade;
    border: 2px solid #420b0b;
    padding: 10px 25px;
    font-family: $font-literata;
    font-size: 20px;
    font-weight: 300;
    max-width: 110px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;

    @include media-mobile {
      width: 100px;
      font-size: 16px;
    }
  }

  &__form {
    &-inp {
      height: 30px;
      border-radius: 10px;
      margin-right: 5px;
      padding: 5px 10px;
      border: 2px solid black;

      &.error {
        border: 2px solid red;
      }
    }

    &-btn {
      padding: 5px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }
  }
}
