.back-btn {
  width: 100px;
  height: auto;
  padding: 30px 0 0 50px;
  position: fixed;
  z-index: -0.5;

  &__img {
    width: 100px;
    height: 80px;
    cursor: pointer;
    background: none;
    transition: all ease 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
