@import "../../global.scss";

.track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  &__title {
    background-color: #faeade;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 40px;
    width: 500px;
    border-radius: 30px;
    border: 4px solid #420b0b;
    margin-bottom: 50px;
    font-family: $font-literata;

    &--title {
      @include media-mobile {
        font-size: 20px;
      }
    }

    @include media-mobile {
      width: 275px;
    }
  }
  &__block {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
  }
}
