@import "../../global.scss";

.pop-up {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &__content {
    height: 75%;
    width: 75%;
    background-color: white;
    border-radius: 25px;

    @include media-tablet {
      height: 80%;
    }

    @include media-mobile {
      overflow: scroll;
    }
  }
}
