@import "../../global.scss";

.travel {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__background {
    width: 100%;
    max-width: 75%;
    position: fixed;
    height: 80%;
    border-radius: 25px;
    object-fit: cover;
    z-index: 2;
  }

  &__title {
    background-color: #faeade;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 20px;
    border-radius: 30px;
    border: 4px solid #420b0b;
    z-index: 3;
    position: relative;
    margin: 10px 15px;
    font-family: $font-literata;
    font-size: 13px;
  }

  &__content {
    z-index: 5;
    padding: 20px;
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

    &__elem {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;

      &-img {
        height: 150px;
        border-radius: 15px;
        transition: all ease 0.2s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }

      &-arrow {
        height: 100px;
      }
    }
  }
}
