@import "../../global.scss";

.page__background {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  .copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;

    @include media-tablet {
      font-size: 14px;
      text-align: center;
    }

    @include media-mobile {
      color: black;
      right: 50%;
      transform: translateX(50%);
    }
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
  }

  &__title {
    background-color: #faeade;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 40px;
    border-radius: 30px;
    border: 4px solid #420b0b;
    font-family: $font-literata;
    font-size: 15px;
    font-weight: 300;

    @include media-tablet {
      padding: 10px 20px;
    }
  }

  &__sounds {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
    flex-wrap: wrap;

    @include media-tablet {
      height: auto;
      width: 80%;
    }
  }
}
