@import "../../global.scss";

.element-sqrt {
  width: 175px;
  height: 220px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  }

  &__img {
    width: 150px;
  }

  &__text {
    text-align: center;
    padding-top: 15px;
    font-family: $font-literata;
    font-size: 25px;
    font-weight: 600;
  }
  audio {
    display: none;
  }
}
