.element-sqrt {
  width: 175px;
  height: 220px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;

  &__img {
    width: 150px;
  }

  &__text {
    text-align: center;
    padding-top: 15px;
  }
}
