.sound-item {
  display: flex;
  width: 275px;
  height: 275px;
  border-radius: 25%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  }

  &__img {
    width: 275px;
    height: 275px;
    border: 4px solid #420b0b;
    border-radius: 25%;
    position: absolute;
    z-index: -1;
  }

  &__inner {
    background-color: #faeade;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
