@import "../../global.scss";

.sound-item {
  display: flex;
  width: 300px;
  height: 23vh;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.2s;
  position: relative;
  overflow: hidden;

  @include media-tablet {
    height: 135px;
    width: 80%;
    border-radius: 20px;
  }

  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  }

  &__img {
    &-back {
      width: 300px;
      height: 23vh;
      border: 4px solid #420b0b;
      border-radius: 20px;
      position: absolute;
      object-fit: cover;
      z-index: -1;

      @include media-tablet {
        height: 135px;
        width: 100%;
        border-radius: 20px;
      }
    }

    &-animal {
      width: 100px;
      height: 100px;
      position: absolute;
      bottom: 3px;
      left: 4px;

      @include media-mobile {
        height: 75px;
        width: 75px;
      }
    }
    @include media-tablet {
      height: 16vh;
      width: 100%;
    }
  }

  &__inner {
    background-color: #faeade;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-literata;
    font-size: 25px;
    font-weight: 600;

    @include media-tablet {
      height: 100px;
      width: 100px;
      font-size: 16px;
    }
  }
}
