@import "../../global.scss";

.category-item {
  display: flex;
  width: 300px;
  height: 23vh;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.2s;
  position: relative;
  overflow: hidden;

  @include media-tablet {
    height: 220px;
    width: 20%;
  }
  @include media-mobile {
    align-items: flex-start;
    height: 200px;
    width: 30%;
  }

  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  }

  &__img {
    &-back {
      width: 300px;
      height: 23vh;
      border: 4px solid #420b0b;
      border-radius: 20px;
      position: absolute;
      object-fit: cover;
      z-index: -1;
      @include media-tablet {
        height: 220px;
        width: 100%;
      }
      @include media-mobile {
        height: 200px;
      }
    }

    &-animal {
      width: 100px;
      height: 100px;
      bottom: 4px;
      left: 4px;
      position: absolute;

      @include media-tablet {
        height: 75px;
        width: 75px;
      }

      @include media-mobile {
        height: 75px;
        width: 75px;
      }
    }
  }

  &__inner {
    background-color: #faeade;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-family: $font-literata;
    font-size: 22px;
    font-weight: 400;

    @include media-tablet {
      height: 17vh;
      width: 17vh;
      font-size: 16px;
    }

    @include media-mobile {
      width: 80px;
      height: 80px;
      margin-top: 25px;
    }
  }
}
