.category-item {
  display: flex;
  background-color: #ee9715;
  width: 350px;
  height: 350px;
  border-radius: 25%;
  border: 4px solid #420b0b;
  align-items: center;
  justify-content: center;

  &__inner {
    background-color: #faeade;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
