@import "../../global.scss";

.category-item {
  display: flex;
  width: 350px;
  height: 350px;
  border-radius: 25%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.2s;

  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  }

  &__img {
    width: 350px;
    height: 350px;
    border: 4px solid #420b0b;
    border-radius: 25%;
    position: absolute;
    z-index: -1;
  }

  &__inner {
    background-color: #faeade;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-family: $font-literata;
    font-size: 25px;
    font-weight: 400;
  }
}
