@import "../../global.scss";

.element-track {
  width: auto;
  height: auto;
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &__images {
    border: 2px solid #0e20ac;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    gap: 5px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border: 2px solid #0e20ac;
      padding: 20px 40px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 2px solid #0e20ac;
    border-top: none;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    cursor: pointer;

    font-family: $font-literata;
    font-size: 25px;
    font-weight: 600;
  }
}
