@import "./global.scss";

.page__background {
  position: fixed;
  z-index: -10;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  &__author {
    margin-bottom: 30px;
    background-color: #faeade;
    padding: 10px 25px;
    border-radius: 15px;
    border: 2px solid black;
    font-family: $font-literata;
    font-size: 20px;
    font-weight: 300;
  }
  &__title {
    background-color: #faeade;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 40px;
    border-radius: 30px;
    border: 4px solid #420b0b;
    margin-bottom: 50px;
    font-family: $font-literata;
    font-size: 20px;
    font-weight: 600;
  }
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  gap: 10px;
}
