@import "./global.scss";

.homepage__background {
  position: fixed;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.loading {
  text-align: center;
  margin-top: 50px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  &__author {
    align-self: flex-end;
    background-color: #faeade;
    padding: 10px 25px;
    border-radius: 15px;
    border: 2px solid black;
    font-family: $font-literata;
    font-size: 20px;
    font-weight: 300;
    margin-right: 20px;

    @include media-mobile {
      font-size: 16px;
    }
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #faeade;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 15px 40px;
    border-radius: 30px;
    border: 4px solid #420b0b;
    font-family: $font-literata;
    font-size: 20px;
    font-weight: 600;

    @include media-tablet {
      padding: 10px;
      top: 15%;
      font-size: 12px;
    }

    @include media-mobile {
      top: 17%;
    }

    &--title {
      @include media-mobile {
        font-size: 20px;
        font-weight: 600;
      }
    }

    &--sub-title {
      @include media-mobile {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

.categories {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #fed0c4;
  flex-wrap: wrap;
  z-index: 1;
  gap: 10px;

  @include media-tablet {
    flex-direction: column;
  }
}
