.pop-up__btn {
  width: 300px;
  height: 50px;
  background-color: #d57e4b;
  border: 4px solid #6d1a1a;
  border-radius: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  }
}
