@import "../../global.scss";

.pop-up__btn {
  margin-bottom: 30px;
  position: relative;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &--img {
    height: 150px;
    width: 250px;
    position: absolute;
  }

  &--text {
    font-family: $font-literata;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
  }
}
